.img-certificados{
    width: 100%;
}

.seccionExperiencia{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 50%;
    margin: auto;
    gap: 15px;
}

.img-frontend{
    width: 100%;
}

.certificado{
    margin-top: 10%;
    width: 60%;
    height: 100%;
}
.cardE{
    background-color: grey;
    margin-bottom: 10%;
}


@media(max-width:1024px){
    .cardExperiencia{    
        display: block;
        margin-top: 10%;
        width: 100%;
        padding: 0%;
    }
    .img-certificados{
        height: 100%;
    }
    .certificado{
        width: 100%;
        padding: 0%;
        display: block;
    }
}
@media (max-width:425px){
    .seccionExperiencia{
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        gap: 100px;
    }
}
