.cardproyectos{
    height: 580px;
}

.img-hover{
    transition: 0.5s all ease-in-out;
}
.img-hover:hover{
    transform: scale(1.5);

}
.img2-hover{
    transition: 0.5s all ease-in-out;
}
.img2-hover:hover{
    transform: scale(1.2);
    max-width: 100%;
}

.seccionProyectos{
    margin-top: 10%;
}

@media (max-width:1200px){
    .textoProyectos{
        display: none;
    }
    .cardproyectos{
        height: 350px;
    }
}


@media (max-width:950px){
    .contenedorProyectos{
        display: block;
    }
    .cardContenedora{
        margin-top: 200px;
    }
    .cardproyectos{
        height: 580px;
        margin-top: 200px;
    }
    .titulosProyectos{
        padding-top: 40px;
    }

}