.cardproyectos{
    width: 60%;
    height: 100%;
}

.img-hover{
    transition: 0.5s all ease-in-out;
}
.img-hover:hover{
    transform: scale(1.5);

}
.img2-hover{
    transition: 0.5s all ease-in-out;
}
.img2-hover:hover{
    transform: scale(1.2);
    max-width: 100%;
}

.seccionProyectos{
    margin-top: 10%;
}

@media (max-width:1200px){
    .cardproyectos{
        height: 700px;
        width: 100%;
        margin-top: 200px;
    }
    .contenedorProyectos{
        display: block;
    }
    .cardContenedora{
        margin-top: 200px;
    }

}


@media (max-width:950px){
    /* .contenedorProyectos{
        display: block;
    } */
    /* .cardContenedora{
        margin-top: 200px;
    } */
    .cardproyectos{
        height: 580px;
        margin-top: 200px;
    }


}

@media (max-width:750px){
    .cardproyectos{
        height:500px;
    }
    .titulosProyectos{
        padding-top: 0%;
    }
}

@media (max-width:450px){
    .cardContenedora{
        height:600px;
    }
}

@media (max-width:425px){
    .cardproyectos{
        width: 100%;
        margin-top:10%;
    }
}