.seccionSobreMiContainer{
    margin-top: 10%;
    padding-top: 5%;
}

.textoSobreMi{
    font-family: "Fira Sans", sans-serif;
    font-size: larger;
    transition: transform 0.3s ease;
    transform-origin:bottom left;
}

.textoSobreMi:hover{
    color: yellow;
    transform: scale(1.1);
}

.sobreMiT{
    width: 50%;
}

.titulos{
    font-family: "Playfair Display", serif;
}

@media (max-width:400px) {
    .sobreMiT{
        width: 100%;
    }
    .textoSobreMi{
        font-size: small;
    }
}